#portfolioContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.542), rgba(9, 0, 39, 0.733)),url("../images/bgPurple.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#portfolioContainer>h4{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: rgb(197, 197, 197);
    font-family: 'Coda', cursive;
    font-size: 1.2em;
}
#portfolio {
  padding-bottom: 50px;
  padding-top: 50px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
}
.arrow {
  font-size: 18px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.152);
  border-radius: 5px;
  padding: 20px;
  outline: none;
  color: white;
    box-shadow: 0px 0px 20px rgb(10 10 10);

}
#p1 {
  background-image: url(../images/portfolio/beebeauty.png);
}
.slide {
  opacity: 0;
  display: none;
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 50vh;
  margin: 0;
}

.slide.active {
  opacity: 1;
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  align-items: center; 
  height: 50vh;
}

.project {

    border-radius: 20px;
}
#pContainer {
  padding-bottom: 50px;
}

.imgP{
    border-radius: 15px;
   width: 70vw;
   transition: all 0.5s;

}
.slide.active>.project>.imgP{
  box-shadow: 0px 0px 20px rgb(10 10 10);
}

.overlay {
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
}
.overlay:hover{
  
}
.slide.active:hover .imgP{
  filter: brightness(0.2);
  transition: all 0.5s;
}
.slide.active:hover .overlay{
  opacity: 1;

}
.text>a{
  color: white;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 40%;
  font-family: 'Coda';
}